<%- include('./partials/head') %>
<main>
    <% items.forEach(item => { %>
        <p>
            <a href="./detail/<%= item.id %>"><%= item.title %></a>
        </p>
        <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>" alt="">
        <p>
    <%= item.id %>
        </p>
    <% }) %>
</main>
<%- include('./partials/foot') %>